{% extends 'base.html' %}

{% block title %} Delete {% endblock %}

{% block main %}
    <h1>Tem certeza que deseja deletar o item "{{product.product}}"?</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-danger">Yes</button>

        </form>
{% endblock %}<
    

