{% extends 'base.html' %}
{% load static %}
{% block title %} New {% endblock %}

{% block main %}
<form method="POST" enctype="multipart/form-data">
<div class="table">

    {% csrf_token %}
    {{ form }}
    
    <button type="submit" class="btn btn-outline-success">Save</button>
</div>

</form>
{% endblock %}
