{% extends 'base.html' %}
{% load static %}

{% block title %} Lista de produtos {% endblock %}

{% block main %}
<h1 class="product_list_font">Lista de produtos</h1> 
    <table border="1" class="table" class="border border-dark">
        <tr>
            <td>Produto</td>
            <td>Preço</td>
            <td>Quantidade</td>
            <td>Descrição</td>
        </tr>
        {% for product in Products %}
            <tr>
                <td><a href="{% url 'product_update' product.id %}">{{ product.product }}</a></td>
        
                <td>{{ product.price }}</td>

                <td> {{ product.amount }}</td>

                <td> {{ product.description }}</td>

                <td><a href="{% url 'product_delete' product.id %}">delete</a></td>
                {% endfor %}
            </tr>
    </table>
<br>
<a href="{% url 'product_new' %}">Novo Produto</a>
{% endblock %}